<body id="home">
    <!-- <h2>Home</h2> -->
    <div class="basic">
        <p>Build and save your own custom Les Mills™ playlists</p>
        <p>and easily view the choreography notes.</p>
    </div>
</body>
<!-- <script>
$(".nav a").on("click", function(){
  $(".nav").find(".active").removeClass("active");
  $(this).parent().addClass("active");
});
</script> -->
