<h2>{{ releaseController.release.program }}{{ releaseController.release.number }}</h2>

<p>{{ releaseController.release._id }}</p>


<form ng-submit = "releaseController.saveRelease ()" class="form-group" enctype="application/x-www-form-urlencoded">

    <label for="program">Program: </label>
    <input name="program" type="text" class="form-control" ng-model="releaseController.release.program">
    <label for="number">Number: </label>
    <input name="number" type="number" min="1" max="150" class="form-control" ng-model="releaseController.release.number">
    <label for="quarter">Quarter: </label>
    <input name="quarter" type="number"  min="1" max="4" class="form-control" ng-model="releaseController.release.quarter">
    <label for="year">Year: </label>
    <input name="year" type="number"  min="1990" max="2017" class="form-control" ng-model="releaseController.release.year">
    <label for="sizzler">Sizzler: </label>
    <textarea name="sizzler" class="form-control" ng-model="releaseController.release.sizzler"></textarea></br>

    <button class="btn btn-primary" type="submit">Save Release</button>
</form>

<h3>Presenters</h3>
<div class="">
    <a class="btn btn-primary" ng-click="releaseController.createPresenter(releaseController.release._id)">Add New Presenter</a>
</div></br>
<!-- Render presenters if any exist -->
<div class="panel panel-default" ng-repeat="presenter in releaseController.release.presenters">
    <div class="panel-body">
        <a href="#" ng-click="releaseController.viewPresenter(presenter._id)">{{ presenter.name }}</a>
        <p>{{ presenter.title }}</p>
        <p>{{ presenter.location }}</p>
        <p>{{ presenter.webPage }}</p>
    </div>
</div>

<h3>Tracks</h3>
<div class="">
    <a class="btn btn-primary" ng-click="releaseController.createTrack(releaseController.release._id)">Add New Track</a>
</div></br>
<!-- Render tracks if any exist -->
<div class="panel panel-default" ng-repeat="track in releaseController.release.tracks">
    <div class="panel-body">
        <a href="#" ng-click="releaseController.viewTrack(track._id)">{{ track.type }}</a>
        <p>{{ track.songTitle }}</p>
        <p>{{ track.artist }}</p>
        <p>{{ track.length }}</p>
    </div>
</div>
