<h2>{{ trackController.track.type }}</h2>

<p>TRACK ID: {{trackController.track._id}}</p>

<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <strong>Song Title:</strong> {{trackController.track.songTitle}}
        </div>
        <div>
            <strong>Artist:</strong> {{trackController.track.artist}}
        </div>
        <div>
            <strong>Length:</strong> {{trackController.track.length}}
        </div>
        <div>
            <strong>Exercises:</strong> {{trackController.track.exercises}}
        </div>
        <div>
            <strong>Lyrics:</strong> {{trackController.track.lyrics}}
        </div>
        <div>
            <strong>Search Tags:</strong> {{trackController.track.searchTags}}
        </div>
    </div>
</div><br>
<h3>Presenter(s)</h3>
</br>
<!-- Render presenters if any exist -->
<div class="panel panel-default" ng-repeat="presenter in trackController.track.presenters">
    <div class="panel-body">
        <a href="#" ng-click="trackController.viewPresenter(presenter._id)">{{ presenter.name }}</a>
        <p>{{ presenter.title }}</p>
        <p>{{ presenter.location }}</p>
        <p>{{ presenter.webPage }}</p>
    </div>
</div>
</br></br>

<a class="btn btn-primary" ng-click="trackController.goToPage('track-edit', {id: trackController.track._id})">Edit</a>
<a class="btn btn-primary" ng-click="trackController.delete(trackController.track._id, trackController.track.release)">Delete</a>
