<h2>{{ trackController.track.type }}</h2>


<form ng-submit = "trackController.saveTrack ()" class="form-group" enctype="application/x-www-form-urlencoded">

    <input name="release" type="hidden" class="form-control" ng-model="trackController.track.release">

    <label for="type">Type: </label>
        <input name="type" type="text" class="form-control" ng-model="trackController.track.type">
    <label for="songTitle">Song Title: </label>
        <input name="songTitle" type="text" class="form-control" ng-model="trackController.track.songTitle">
    <label for="artist">Artist: </label>
        <input name="artist" type="text" class="form-control" ng-model="trackController.track.artist">
    <label for="length">Length: </label>
        <input name="length" type="text" class="form-control" ng-model="trackController.track.length">
    <label for="exercises">Exercises: </label>
        <input name="exercises" type="text" class="form-control" ng-model="trackController.track.exercises">
    <label for="lyrics">Lyrics: </label>
        <input name="lyrics" type="text" class="form-control" ng-model="trackController.track.lyrics">
    <label for="searchTags">Search Tags: </label>
        <input name="searchTags" type="text" class="form-control" ng-model="trackController.track.searchTags">
    </br>
    <h3>Presenter(s)</h3>
    </br>
    <!-- Render presenters if any exist -->
    <div class="panel panel-default" ng-repeat="presenter in trackController.track.presenters">
        <div class="panel-body">
            <a href="#" ng-click="trackController.viewPresenter(presenter._id)">{{ presenter.name }}</a>
            <p>{{ presenter.title }}</p>
            <p>{{ presenter.location }}</p>
            <p>{{ presenter.webPage }}</p>
        </div>
    </div><br>

    <button class="btn btn-primary" type="submit">Save Track</button>
</form>
