<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Choreography Helper</title>
    </head>
    <body>
        <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>

        <h1>Choreography Helper</h1>

        <!-- Set an area of the page where the partials
        html content will be inserted. -->
        {{{body}}}
    </body>
</html>
